<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Team</title>
    </head>

    <body style="background-image: url('https://image.shutterstock.com/image-vector/team-superheroes-260nw-687754147.jpg'); background-repeat:no-repeat; background-position:center; background-size:cover; background-color:wheat">
        <a href="/" style="overflow:hidden; background-color:#333; position:fixed; width:100%; color:#f2f2f2; text-decoration:none">Home</a>
        <%= yield %>
        <br>
               
    </body>
</html>