<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Super Hero Team</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>

    <%= yield %>


  </body>
</html>
